## Capitalize( ) - returns the string with first letter capital, and rest lowercase

In [1]:
string_example="learning is fun"
string_example.capitalize()

'Learning is fun'

## title( ) -> to capitailize the first character of each word

In [2]:
string_example.title()

'Learning Is Fun'

## swapcase( ) -> To swap the case of strings

In [3]:
string_example.swapcase()

'LEARNING IS FUN'

## find('n') -> to find the index of given letter

In [6]:
string_example.find('n')

4

## count('a') -> To count the total number of 'a' in the string

In [7]:
string_example.count('a')

1

## replace('string1', 'string2')-> to replace the string1 with string2

In [8]:
string_example.replace('fun','joyful')

'learning is joyful'

## len(object) -> returns no.of elements in the object

In [ ]:
len(string_example) # accepted objects: strings, list, array, tuple, dictionary, set

In [10]:
# create a list of prime numbers
prime_numbers = [2, 3, 5, 7]

## append( ) -> adds an element at the end of the object

In [11]:

prime_numbers.append(11)

print(prime_numbers)

[2, 3, 5, 7, 11]

## how to add an element into set?

In [12]:
set_example={2,7,0,87}
set_example.add(10000)
print(set_example)

{0, 2, 7, 10000, 87}

In [13]:
set_example.update([5,'example'])
print(set_example)

{0, 2, 5, 7, 10000, 'example', 87}

### Dictionary Methods

In [16]:
sample_dict={"key1":"first", "key2": "second", "key3": "third", "key4":"fourth"}

sample_dict["key4"]

'fourth'

In [17]:
list(sample_dict) # returns a list of all the keys in dictionary

['key1', 'key2', 'key3', 'key4']

In [18]:
sample_dict.get("key3") #get is the conventional method to access a value of a key

'third'

In [ ]:
sample_dict.keys() # returns a list of keys in dictionary

In [19]:
sample_dict.items() # returns a list of (key,value) pairs

dict_items([('key1', 'first'), ('key2', 'second'), ('key3', 'third'), ('key4', 'fourth')])

# Set operations
### 1. Set is an un-ordered collection of items
### 2. Every element is unique(no duplicates)
### 3. Sets can be used to perform mathematical set operations like union, intersection etc.

In [20]:
A = {"example", 24, 87.5, "data", 28}

B = {24, 87.5,100}

In [21]:
print(A|B) #union of A and B is a set of all elements from both sets

A.union(B)

{'example', 100, 'data', 87.5, 24, 28}

{100, 24, 28, 87.5, 'data', 'example'}

In [22]:
print(A&B) #common elements between the two sets

A.intersection(B)

{24, 87.5}

{24, 87.5}

In [ ]:
#explore more methods

array.extend((tuple)) -> extends the array with given tuple
array.fromlist(list) -> add values from a list to array
array.tolist() -> converts array into list
array.insert(index,element) -> insets the element at the specified index of an object (can be applied on list as well)
list_example.pop() -> deleting the last element and prints the value 
list_example.pop(index) -> removes the element at the given index from the object and prints it.
array.remove(value) -> removes the first occurrence of element with specified value.(can be applied on list as well)