# Sequence Object Initialization

In [1]:
string_example="Learning"

print(string_example)

Learning

In [2]:
List_Numbers = [1, 4, 7, 5, -2]

print(List_Numbers)

[1, 4, 7, 5, -2]

In [3]:
#a list can have mixed data types but an array could only have homogenous data types.

List_mixed = [5, "list", "-2", 0.6] #integer, float and strings

print(List_mixed)

[5, 'list', '-2', 0.6]

In [4]:
tuple_example = (1,2,3,-5, "python") 

print(tuple_example)

(1, 2, 3, -5, 'python')

### difference between a list and a tuple is that list is mutable while typle is immutable

In [6]:
List_Numbers[3]=41
print(List_Numbers)

tuple_example[3]=5
print(tuple_example)

[1, 4, 7, 41, -2]

TypeError: 'tuple' object does not support item assignment

### Dictionary : stores data in the form of key-value pairs

In [ ]:
Dictionary_example= {1:"first", 2: "second", 3: "third", 4:"fourth"}

### dictionary can also be created using dict keyword

In [5]:
dict_example = dict( [("first", 1), ("second", 2), ("third", 3), ("fourth", 4)] )

print(dict_example)

{'first': 1, 'second': 2, 'third': 3, 'fourth': 4}

### sets store unique elements, and only immutable data can be an element of a set

In [6]:
set_example = {"example", 1, 0.7, "a"}

# we can initialize a set using set() function and to add elements into it use add() function
set2=set()
set2.add(3)
print(set2)

{3}

## Indexing

### how to get the index of the substring "ing" from "string" ?

In [7]:
string_example="learning"
string_example.index("rni") # the index of first letter of the substring will be returned

3

In [8]:
string_example.index("r")

3

### what is Negative indexing in python?

In [9]:
# Negative indexing is used to access the elements from end of the list
#In negative indexing, the last element of the list has a index -1

string_example[-1]

'g'

In [10]:
list_example = [1, 21, "a", "sum"]

list_example[-2]

'a'

In [10]:
from array import *

array_example = array("i", [21, 48, 5, -100, -17])

for i in array_example:
    print(i)

21
48
5
-100
-17

### we can get the elements of array, tuple, list and string using indexing
### elements in a set are not in particular order, so indexing is not possible on sets
### while on dictionaries, we can access a value using a key

In [11]:
array_example[-4]

48

In [12]:
print(tuple_example)
tuple_example[-4]

(1, 2, 3, -5, 'python')

2

### Can we have indexing in sets?

In [13]:
set_example = {"example", "a", 2, 0.5, -75}

set_example[-2]

TypeError: 'set' object is not subscriptable

### In dictionary the values are indexed with keys, they are non held in any order

In [15]:
print(dict_example)

dict_example[4]

{'first': 1, 'second': 2, 'third': 3, 'fourth': 4}

KeyError: 4

In [16]:
dict_example["second"]

2

## Slicing

### [ first : last : step ]

In [24]:
print(string_example)


for string_index in range(3,len(string_example)):
    print(string_example[string_index],end="")

string_example[3:]
string_example[4:9]

learning
rning

'nin'

In [8]:
string_example[:] ## not giving any first and last elements results in printing whole string

'Learning'

In [11]:
print(list_example)
list_example[:3] ## the last is given as 3, which means that we should consider the part before index 3, but not >=3

[1, 21, 'a', 'sum']

[1, 21, 'a']

In [12]:
list_example[2:] ## fist is given as 2, which means that we should consider the part which is >=2

['a', 'sum']

In [25]:
string_example[1::2] ## step is 2, that means you jump one element in between

string_example[2:6:3]

'ai'